@charset "utf-8";

/*
 ***************************************
*		 * CODED FRAMEWORK *  			*
*	DEVELOPED BY: CASTERO - KUMASI		*
*										*
*			  AKA: CODED				*
 ***************************************
*/

iframe.vp-sidedock {
    display: none !important;
}
	
iframe.logo-v {
    display: none !important;
}

.player .vp-sidedock {
    display: none !important;
}
	
.player .vp-controls .logo {
    display: none !important;
}
